:root {
  --app-green:#02b44c;
  --app-yellow:#ffff00;
  /* --app-grey:#6c757d; */
  --app-grey:#879099;
  --app-dark:#1B2313;
  --app-yellow-green:#8CC63F;
}

/* reset some ALT. stuff */
path { fill:inherit; }
.zoom:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1)
}
.figure-caption{ text-align:right; }
.category-title, .post-title {
  font-size: 2rem;
}
.alert{ font-size: 1.1rem; }
.alert a{ color: rgb(133, 100, 4);font-weight: bold;}
.alert a:hover{ opacity:.5;}
.post-subtitle{
  color:var(--app-grey);
}
.primary-container p,
.primary-container .app-title,
.primary-container .alert
{ font-family: "Nunito", sans-serif;}
/* end reset some ALT. stuff */

#nprogress .bar {
  background: var(--app-yellow-green) !important;
}
#nprogress .spinner-icon {
  /* border-left-color: green !important;
  border-top-color: yellow  !important; */
  display:none;
}

.primary-container .app-title{
  text-transform: uppercase;
  font-weight: bold;
  display:block;
}


.disabled{ opacity:.5; }
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
.breadcrumb-back-button{ display: none; }
.app-text-selected{
   background: rgba(255,255,0,0.4);

}
.app-text-grey{ color:var(--app-grey); }
.app-text-grey:hover{ color:var(--app-dark); }
.app-text-green{ color: var(--app-green); }
.app-text-yellow{ color: var(--app-yellow); }
.bg-appyellow {background: rgba(255,255,0,0.5);}

.app-logo, .b-sidebar-header{
  /* position:relative; */
  font-family: Nunito, sans-serif;
  font-weight: bold;
  font-size:1.2rem !important;
}
/* .app-logo a, .b-sidebar-header strong{ padding-left:1.4rem;} */
.app-logo::before, .b-sidebar-header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  /* font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0fc";
  color: var(--beer-color);
  margin-right:0.25rem; */

  content: "";
  background-image:url("../logo.png");
  background-size:cover;
  width: 23px;
  height: 25px;
  vertical-align: middle;
  display:inline-block;
  margin-right:.25rem;
  position:relative;
  top:-0.15rem;
}

.app-logo i{ color:var(--beer-color); }
.text-app{ color:var(--app-main-color); }

.loader{
  display:block;
  position: fixed;
  z-index: 102;
  bottom:.1rem;
  right:.3rem;
}
.loader i{
  font-size:1rem;
  color:var(--app-green);
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%); */
}

ul.beer-list{
  list-style-type: none;
  padding:0;
  margin:0;
}
ul.beer-list li:nth-child(even){
  margin-top:.5rem;
  margin-bottom:.5rem;
}
ul.beer-list i{ font-size:1rem;  }

/* media queries compatible with bootstrap breakpoints */
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
  /* alt reset */
  .category-title, .post-title {
      font-size: 1.2rem;
  }
  .alert{ font-size: .8rem; }
  /* end of alt reset  */

  .app-logo a{ font-size:1rem !important; }
  .b-sidebar-header{ font-size:1rem !important; }
  .app-logo::before, .b-sidebar-header::before{
    /* font-size:1rem; */
    width: 19px;
    height: 19px;
    margin-right:.2rem;
  }


}
